* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240,239,233);
  color: #444;
  font-size: 24px;
}

.body {
  background-color: white;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
}

.day {
  margin-left: auto;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 24px;
}

.todo-list-holder {
  flex-basis: 100%;
}

.todo-uncheck, .todo-check {
  width: 36px;
  height: 36px;
  margin-left: auto;
}

.date {
  display: flex;
  margin-bottom: 62px;
}
.number {
  font-size: 48px;
  font-weight: 600;
}
.month {
  width: 65px;
  font-size: 16px;
  padding: 10px;
  line-height: 20px;
}
.todo-undone, .todo-done {
  display: flex;
  margin-bottom: 42px;
}
.todo-undone:hover, .todo-done:hover {
  cursor: pointer;
}
.todo-done .todo-text {
  color: #c1c1c1;
}