* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238,236,230);
  font-size: 24px;
  color: #555;
}

.app {
  background-color: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
}
.date {
  display: flex;
  margin-bottom: 62px;
}
.number {
  font-size: 48px;
  font-weight: 600;
}
.month {
  width: 65px;
  font-size: 16px;
  padding: 10px;
  line-height: 20px;
}
.day {
  margin-left: auto;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 24px;
}

.todolist {
  flex-basis: 100%;
}
.todo {
  display: flex;
  margin-bottom: 24px;
}
.todo-text-checked, .todo-text-unchecked {
  line-height: 60px;
  cursor: pointer;
}
.todo-unchecked, .todo-checked {
  width: 60px;
  height: 60px;
  margin-left: auto;
}

.todo-text-checked {
  color: #c1c1c1;
}